*{
    overflow:hidden;
  }
  body,
  html {
    height: 100%;
  }
  .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1ea9b3;
  z-index: 2;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  transform: translate(-50%);

  
}
canvas{
			min-width: 100vw;
			height: 100vh;
			position: fixed;
    }
.image-logo{
  width: 95%;
  position: absolute;
  top: 30%;
}
.button{
  position: absolute;
  top: 75%;
  left: 35%;

}
.btn-outline-primary.golden {
	color: #E6D368;
	border-color: #E6D368
}
.btn-outline-primary.golden:hover {
	color: #002A5C;
	background-color: #E6D368;
	border-color: #E6D368
}

.btn-outline-primary.golden.disabled, .btn-outline-primary.golden:disabled {
	color: #E6D368;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active {
	color: #002A5C;
	background-color: #E6D368;
	border-color: #E6D368
}

